import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import hudson.plugins.sshslaves.*;

println "--> creating SSH credentials"

domain = Domain.global()
store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

slaveAgentPrivateKeyFile = new File('/tmp/SlaveAgentPvtKey').getText('UTF-8')
dockerSwarmManagerPrivateKeyFile = new File('/tmp/DockerSwarmManagerPvtKey').getText('UTF-8')

slaveAgentPrivateKey = new BasicSSHUserPrivateKey(
    CredentialsScope.GLOBAL,
    "SlaveAgent",
    "jenkins",
    new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource(slaveAgentPrivateKeyFile),
    "",
    "Jenkins Slave Agent SSH Private Key"
)

dockerSwarmManagerPrivateKey = new BasicSSHUserPrivateKey(
    CredentialsScope.GLOBAL,
    "DockerSwarmManager",
    "ubuntu",
    new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource(dockerSwarmManagerPrivateKeyFile),
    "",
    "Docker Swarm Manager SSH Private Key"
)

store.addCredentials(domain, slaveAgentPrivateKey)
store.addCredentials(domain, dockerSwarmManagerPrivateKey)