# Set the variables in the .env file. At a minimum, this includes:
# * AWS_REGION=ap-south-1

# * JENKINS_SLAVE_AGENT_PUB_KEY=${HOME}/.ssh/jenkins_slave_agent_id_rsa.pub
# * JENKINS_SLAVE_AGENT_PVT_KEY=${HOME}/.ssh/jenkins_slave_agent_id_rsa

# * DOCKER_SWARM_MANAGER_PUB_KEY=${HOME}/.ssh/docker_swarm_manager_id_rsa.pub
# * DOCKER_SWARM_MANAGER_PVT_KEY=${HOME}/.ssh/docker_swarm_manager_id_rsa